.custom-checkbox {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #f4c300;
    box-sizing: border-box;
    cursor: pointer;
    position: relative; }
  
  .checkbox-display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    background: url("../../../media/white checkmark.png");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat; }
  
  .custom-checkbox [type="checkbox"] {
    display: none; }
  
  .custom-checkbox .checkbox-display {
    position: absolute; }
  
  .custom-checkbox .checkbox-display-container {
    position: relative;
    width: 100%;
    height: 100%; }
  
  .custom-checkbox [type="checkbox"]:checked ~ .checkbox-display-container .checkbox-display {
    opacity: 1; }
  