html {
    height: 100%;
 }
 
 .container {
    width: 95%;
    max-width: 800px;
 }
/*  
 body {
    background-image: url('./media/m3.gif');
    background-repeat: no-repeat;
    background-size: cover;
 } */
 
 .App {
   text-align: center;
 }