Bimcod.Api/.vs/Bimcod.Api/v15/Server/sqlite3/storage.ide-wal
Bimcod.Api/.vs/Bimcod.Api/v15/Server/sqlite3/storage.ide-shm
Bimcod.Api/.vs/Bimcod.Api/v15/Server/sqlite3/storage.ide
Bimcod.Api/.vs/Bimcod.Api/v15/Server/sqlite3/db.lock
BimcodDB/BimcodDB.dbmdl
BimcodDB/BimcodDB.jfm
