.signup-msg {
    margin: 0 auto 2% auto;
    background-color: #f0cc04;
    height: 1.4em;
    color: #115057;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Curvy';
    text-align: center;
    user-select: none; }
  
.signup-form-container {
    position: relative;
    top: 100px;
    height: auto;
    width: 50%;
    margin: auto;
    text-align: center; }
  
.server-message {
    text-align: center; }

.body {
    background-image: url('../../media/bmw.gif');
    background-size: cover;
}

.gif-container {
    width: 100%;
    height: 100%;
    background-image: url('../../media/m3.gif');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}